{% extends ../base.html %}

{% block title %}
XenServer事件
{% end %}

{% block extra_head %}
	<script type="text/javascript">
		$(document).ready(function(){
			$("#alerts_menu").attr({"class": "active", "style": "margin-left: -2px;"});
		});
	</script>
	<script src="/static/wisemonitor_xen.js"></script>
{% end %}

{% block main_content %}
<div>
    <ul class="breadcrumb">
        <li>
            <a href="#">系统</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="#">报警</a><span class="divider">/</span>
        </li>
        <li>
            <a href="/system/alerts/xenserver/">XenServer</a>
        </li>
    </ul>
    
    <div>
        <div class="box span12">
            <div class="box-header well" data-original-title>
					<h2><i class="icon-user"></i></h2>
					<div class="box-icon">
						<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
						<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
					</div>
			</div>
            
            <div class="box-content">
                <div class="row-fluid">
                    <div class="span2">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_length">
                            <label>
                                <select size="1" name="page_size">
                                    <option value="10" selected="selected">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="25">25</option>
                                </select>
                                 每页数量
                            </label>
                        </div>
                    </div>
					
					<div class="span3">
					<div class="btn-toobar">
						<div class="btn-group" style="display: inline-block">
							<a class="btn btn-success" href="/system/alerts/physical_device/">物理设备</a>
						</div>
						<div class="btn-group" style="display: inline-block">
							<a class="btn btn-primary" href="/system/alerts/xenserver/">XenServer</a>
							<!--
							<a class="btn btn-primary" href="/system/alerts/libvirt/">Libvirt</a>
							-->
						</div>
						<!--
						<div class="btn-group" style="display: inline-block">
							<a class="btn btn-info" href="/system/alerts/cloudstack/">CloudStack</a>
							<a class="btn btn-info" href="/system/alerts/openstack/">OpenStack</a>
						</div>
						-->
					</div>
					</div>
					<div class="span1" style="display: inline-block;">
						+ <span class="label label-warning" id="alert_counter">0</span>
					</div>
                    
                    <div class="span4 pull-right"> <label>
                            搜索：
                            <input type="text">
                        </label> 
                    </div>
					
					
                    
                    <table class="table table-striped table-bordered bootstrap-datatable" id="">
						<tbody>
							<tr>
								<td id="xenserver-alert">
									{% for alert in alerts %}
										<div class="alert alert-error fade in">
											<!-- DEBUG data['message_type'] -->
											{% if not alert.get('message_type', None) %}
												{{ alert }}
											{% end %}
											
											{% if alert.get('message_type', None) == 'disk_usage' %}
												磁盘使用率： 
											{% elif alert.get('message_type', None) == 'network_usage' %}
												网络使用率： 
											{% elif alert.get('message_type', None) == 'cpu_usage' %}
												CPU使用率： 
											{% end %}
											
											{{ alert['created_time'] }} /
											{{ alert['message']['host'] }} /
											{{ alert['message']['vm_name_label'] }} /
											
											{% if alert.get('message_type', None) == 'disk_usage' %}
												Current:
													{{ "%.2f" % (float(alert['message']['current_value'])/1024) }}KB /
												More than:
													{{ "%.2f" % (float(alert['message']['trigger_value'])/1024)  }}KB
											{% elif alert.get('message_type', None) == 'network_usage' %}
												Current:
													{{ "%.2f" % (float(alert['message']['current_value'])/1024) }}KB /
												More than:
													{{ "%.2f" % (float(alert['message']['trigger_value'])/1024)  }}KB
											{% elif alert.get('message_type', None) == 'cpu_usage' %}
												Current:
													{{ float(alert['message']['current_value'])*100 }}% /
												More than:
													{{ float(alert['message']['trigger_value'])*100  }}%
											{% end %}
										</div>
									{% end %}
								</td>
							</tr>
						</tbody>
					</table>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}