{% extends ../base.html %}

{% block title %}
CloudStack平台列表
{% end %}

{% block extra_head %}
	<script type="text/javascript">
		$(document).ready(function(){
			$("#cloudstack_menu").attr({"class": "active", "style": "margin-left: -2px;"});
		});
	</script>
{% end %}

{% block main_content %}
<div>
    <ul class="breadcrumb">
        <li>
            <a href="#">基础设施</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="/platform/cloudstack/">CloudStack</a>
        </li>
    </ul>
    
    <div>
        <div class="box span12">
            <div class="box-header well" data-original-title>
					<h2><i class="icon-user"></i></h2>
					<div class="box-icon">
						<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
						<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
					</div>
			</div>
            
            <div class="box-content">
                <div class="row-fluid">
                    <div class="span6">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_length">
                            <label>
                                <select size="1" name="page_size">
                                    <option value="10" selected="selected">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="25">25</option>
                                </select>
                                 每页数量
                            </label>
                        </div>
                    </div>
                    
                    <div class="span6"> <label>
                            搜索：
                            <input type="text">
                        </label> 
                    </div>
                    
                    <table class="table table-striped table-bordered bootstrap-datatable" id="">
                        <thead>
                           <tr role="row">
                            <!-- <th class="sorting_asc" rowspan="1" colspan="1" style="width: 15px;">ID</th> -->
                            <th rowspan="1" colspan="1" style="width: 110px;">平台地址</th>
                            <th rowspan="1" colspan="1" style="width: 100px;">区域</th>
                            <th rowspan="1" colspan="1" style="width: 100px;">分配状态</th>
                            <th rowspan="2" colspan="1" style="width: 150px;">用户网络</th>
                            <th rowspan="2" colspan="1" style="width: 150px;">网络域</th>
                           </tr> 
                        </thead>
                        
                        <tbody>
                            
                            {% for host_record in data %}
                                {% for zone in host_record['data']['listzonesresponse']['zone'] %}
                                <tr class="odd">
                                    <td class="center">{{ host_record['cs_host'] }}</td>
                                    <td class="center"><a href="/platform/cloudstack/{{ host_record['cs_host'] }}/{{ zone['id'] }}/detail/">{{ zone['name'] }}</a></td>
                                    <td class="center">{{ zone['allocationstate'] }}</td>
                                    <td class="center">{{ zone['guestcidraddress'] }}</td>
                                    <td class="center">{{ zone['networktype'] }}</td>
									
									<td class="center">
                                        <a class="btn btn-success" href="/platform/cloudstack/{{ host_record['cs_host'] }}/{{ zone['id'] }}/detail/">
                                            <i class="icon-zoom-in icon-white"></i>详情
                                        </a>
                                        <a class="btn btn-success" href="#">
                                            <i class="icon-zoom-in icon-white"></i>资源使用统计
                                        </a>
									</td>
                                </tr>
								{% end %}
                            {% end %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}