{% extends ../base.html %}

{% block title %}
增加服务
{% end %}

{% block extra_head %}
	<script type="text/javascript">
		$(document).ready(function(){
			var success_func = function(data) {
				var status;
				var interface_name = data.interface_name;
				var speed = data.speed;
				speed = speed / (1000*1000);
				var int_status = data.status;
				if (int_status == 1) {
					status = "<span style='color: green;'>UP";
				}
				if (int_status == 2) {
					status = "<span style='color: red;'>DOWN";
				}
				var html = "端口: " + interface_name + "&nbsp;&nbsp; 速度: " + speed + "M &nbsp;&nbsp;" + "状态: " + status;
				$("#int_status").html(html);
				$("#interface_status").show();
				if (int_status == 1) {
					$("#warn-and-crit").show();
				} else if (int_status == 2) {
					$("#warn-and-crit").hide();
				}
			}
			
			$("#server_menu").attr({"class": "active", "style": "margin-left: -2px;"});
			
			$("#interface_index").change(function() {
				var interface_index = $("#interface_index option:selected").val();
				var interface_name = $("#interface_index option:selected").html();
				if (interface_index != "") {
					var data = {"index": interface_index, "name": interface_name};
					var type = "json";
					$.post(
						"/infra/snmp/{{ host_ip }}/",
						data,
						success_func,
						type
					)
				}
			});
		});
	</script>
	
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/base.css" title="plain">
    <script src="/css/util.js"></script>
    
{% end %}

{% block main_content %}
<div>
    <ul class="breadcrumb">
        <li>
            <a href="#">基础设施</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="/infra/server/">服务器</a><span class="divider">/</span>
        </li>
        <li>
            <a href="/infra/server/{{ host_ip }}/">{{ host_ip }}</a><span class="divider">/</span>
        </li>
        <li>
            <a href="/infra/server/{{ host_ip }}/add/traffic/">增加流量监控</a>
        </li>
    </ul>
    
    <div>
        <div class="box span12">
			<div class="box-header well" data-original-title>
					<h2><i class="icon-user"></i><span id="vm_name_label"></span></h2>
					<div class="box-icon">
						<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
						<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
					</div>
			</div>
            
            <div class="box-content">
                <div class="row-fluid">
                    <div class="span6" style="display: inline">
			{% if snmp_supported %}
				<form action="" method="post">
				    {% if updated == "ok" %}
					<div class="alert alert-block" style="width: 469px;">
						<a href="#" class="close" data-dismiss="alert">&times;</a>
						<h4 class="alert-heading">成功</h4>
						<p>增加服务器 {{ new_service }}成功!</p>
					</div>
				    {% elif updated == "failed" %}
					<div class="alert alert-error" style="width: 469px;">
						<a href="#" class="close" data-dismiss="alert">&times;</a>
						<h4 class="alert-heading">错误</h4>
						<p>增加服务器 {{ new_service }} 失败!</p>
					</div>
				    {% end %}
	
				    <div class="well well-small" style="width: 100%">
					<table>
					   <tbody>
					   <tr>
						   <td style="float: left; margin-right: 20px;">
							   主机IP&nbsp;&nbsp;
						   </td>
						   
						   <td style="margin-left: 40px;">
							   {{ host_ip }}
						   </td>
					   </tr>
					   </tbody>
					</table>
				    </div>
				    
				    <div class="well well-small" style="width: 100%">
					<table>
					   <tbody>
					   <tr>
						   <td style="float: left; margin-right: 20px;">
							   服务模板&nbsp;&nbsp;
						   </td>
						   <td style="margin-left: 20px;">
							   <select style="margin-left: 10px" name="use">
								<option value="generic-host">generic-service</option>
							   </select>
						   </td>
					   </tr>
					   </tbody>
					</table>
				    </div>
				    
				    <div class="well well-small" style="width: 100%">
					<table>
					   <tbody>
					   <tr>
						   <td style="float: left; margin-right: 20px;">
							选择端口
						   </td>
						   <td style="margin-left: 20px;">
							   <select style="margin-left: 20px" name="interface_index" id="interface_index">
								<option value="" selected>选择端口</option>
								{% for interface in all_interface %}
									<option value="{{ interface['index'] }}">
										{{ interface['name'] }} &nbsp;/&nbsp;
										{% if interface['status'] == 2 %}
											DOWN
										{% elif interface['status'] == 1%}
											UP
										{% end %}
									</option>
								{% end %}
							   </select>
						   </td>
					   </tr>
					   </tbody>
					</table>
				    </div>
				    
				    <div class="well well-small hide" style="width: 100%" id="interface_status">
					<table>
					   <tbody>
					   <tr>
						   <td style="float: left; margin-right: 20px;">
							   <span id="int_status"></span>
						   </td>
					   </tr>
					   </tbody>
					</table>
				    </div>
				    
				    <div class="hide" id="warn-and-crit">
					<div class="well well-small" style="width: 100%">
					    <table>
					       <tbody>
					       <tr>
						       <td style="float: left; margin-right: 20px;">
							       IN警告阀值(%)&nbsp;&nbsp;
						       </td>
						       <td style="float: left; margin-right: 30px;">
							       <input type="number" min="5" max="100" step="5" value="75" name="in_warn" />
						       </td>
					       </tr>
					       </tbody>
					    </table>
					</div>
					
					<div class="well well-small" style="width: 100%">
					    <table>
					       <tbody>
					       <tr>
						       <td style="float: left; margin-right: 20px;">
							       OUT警告阀值(%)&nbsp;&nbsp;
						       </td>
						       <td style="float: left; margin-right: 30px;">
							       <input type="number" min="5" max="100" step="5" value="75" name="out_warn" />
						       </td>
					       </tr>
					       </tbody>
					    </table>
					</div>
					
					<div class="well well-small" style="width: 100%">
					    <table>
					       <tbody>
					       <tr>
						       <td style="float: left; margin-right: 20px;">
							       IN严重阀值(%)&nbsp;&nbsp;
						       </td>
						       <td style="float: left; margin-right: 30px;">
							       <input type="number" min="5" max="100" step="5" value="75" name="in_crit" />
						       </td>
					       </tr>
					       </tbody>
					    </table>
					</div>
					
					<div class="well well-small" style="width: 100%">
					    <table>
					       <tbody>
					       <tr>
						       <td style="float: left; margin-right: 20px;">
							       OUT严重阀值(%)&nbsp;&nbsp;
						       </td>
						       <td style="float: left; margin-right: 30px;">
							       <input type="number" min="5" max="100" step="5" value="75" name="out_crit" />
						       </td>
					       </tr>
					       </tbody>
					    </table>
					</div>
				    </div>
				    
				    <input class="btn btn-large btn-primary" type="submit" value="保存">
				</form>
			{% else %}
				<div class="well well-small" style="width: 100%">
					<table>
					   <tbody>
					   <tr>
						   <td style="float: left; margin-right: 20px;">
							   主机 {{ host_ip }} 不支持SNMP!
						   </td>
					   </tr>
					   </tbody>
					</table>
				    </div>
			{% end %}
                    </div>
                </div>
            </div>
        </div>
    </div>
		
</div>
{% end %}