
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Flot Examples: Canvas text</title>
	<link href="/js/flot/examples.css" rel="stylesheet" type="text/css">
	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/js/flot/excanvas.min.js"></script><![endif]-->
	<script language="javascript" type="text/javascript" src="/js/flot/jquery.js"></script>
	<script language="javascript" type="text/javascript" src="/js/flot/jquery.flot.js"></script>
	<script language="javascript" type="text/javascript" src="/js/flot/jquery.flot.time.js"></script>
	<script language="javascript" type="text/javascript" src="/js/flot/jquery.flot.canvas.js"></script>
</head>
</body>

	{% for key, value in data.items() %}
	<script type="text/javascript">
	$(function() {
		{
		var record = {{ value['data'] }};

		var data = [
			{
				data: record,
				label: "{{ key }}",
				color: "#00f800"
			},
		];
		
		var options = {
		    grid: {hoverable: true},
			series: {
				lines: {show: true, fill: true, zero: true, steps: false},
				bars: {show: true, lineWidth: 1, zero: true},
		    },
			canvas: true,
			{% if chart_type == "4h" %}
				xaxes: [{
							mode: "time",
						    timeformat: "%H:%M",
						    timezone: "browser",
							tickLength: 0,
							ticks: 15,
							labelWidth: 30,
						}],
		    {% end %}
			yaxes: [{
				min:0,
				position: "right",
				tickFormatter: function(value, axis) {
					return value.toFixed(axis.tickDecimals) + "{{ value['unit'] }}";
				},
			}],
			
			legend: {
				position: "nw",
		    }
		}

		$.plot("#placeholder_{{ key }}", data, options);
		}
		
	});

	</script>


        <center><p>{{ key }}</p></center>
		<div class="demo-container">
			<div id="placeholder_{{ key }}" class="demo-placeholder"></div>
		</div>
	{% end %}

</body>
</html>
