{% extends ../base.html %}

{% block title %}
性能图表
{% end %}

{% block extra_head %}
	<script type="text/javascript">
		$(document).ready(function(){
			$("#server_menu").attr({"class": "active", "style": "margin-left: -2px;"});
		});
	</script>
{% end %}

{% block main_content %}
<div>
    <ul class="breadcrumb">
        <li>
            <a href="#">基础设施</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="/infra/server/">服务器</a><span class="divider">/</span>
        </li>
        <li>
            <a href="/infra/server/{{ host }}/">{{ host }}</a><span class="divider">/</span>
        </li>
        <li>
            <a href="/infra/server/{{ host }}/chart/{{ chart_type }}/">性能图表</a><span class="divider"></span>
        </li>
    </ul>
    
    <div>
        <div class="box span12">
            <div class="box-header well" data-original-title>
					<h2><i class="icon-user"></i></h2>
					<div class="box-icon">
						<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
						<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
					</div>
			</div>
            
            <div class="box-content">
                <div class="row-fluid">
					
						{% if not data %}无数据{% end %}
						<div style="float: right">
							<a href="?excel=yes"><button type="button" class="btn btn-primary">导出数据</button></a>
						</div>
						{% for key, value in data.items() %}
						<script type="text/javascript">
						$(function() {
							{
							var record = {{ value['data'] }};
					
							var data = [
								{
									data: record,
									label: "{{ key }}",
									color: "{{ value['color'] }}"
								},
							];
							
							var options = {
								grid: {hoverable: true},
								series: {
									lines: {show: true, fill: true, zero: true, steps: false},
									bars: {show: true, lineWidth: 1, zero: true},
								},
								canvas: true,
								{% if chart_type == "4h" %}
									xaxes: [{
												mode: "time",
												timeformat: "%H:%M",
												timezone: "browser",
												tickLength: 0,
												ticks: 15,
												labelWidth: 30,
												tickLength: 8
											}],
								{% elif chart_type == "24h" %}
									xaxes: [{
												mode: "time",
												timeformat: "%H:%M",
												timezone: "browser",
												tickLength: 0,
												ticks: 15,
												labelWidth: 30,
												tickLength: 8
											}],
								{% elif chart_type == "1w" %}
									xaxes: [{
												mode: "time",
												timeformat: "%m/%d-%H:00",
												timezone: "browser",
												tickLength: 0,
												ticks: 15,
												labelWidth: 30,
												tickLength: 8
											}],
								{% end %}
								yaxes: [{
									min:0,
									position: "right",
									tickFormatter: function(value, axis) {
										return value.toFixed(axis.tickDecimals) + "{{ value['unit'] }}";
									},
								}],
								
								legend: {
									position: "nw",
								}
							}
					
							$.plot("#placeholder_{{ key }}", data, options);
							}
							
						});
					
						</script>
					
							<center><h3><p>{{ convert_field(key) }}</p></h3></center>
							<div class="demo-container">
								<div id="placeholder_{{ key }}" class="demo-placeholder"></div>
							</div>
						{% end %}
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}