#
# Broker
#

BROKER_URL = "redis://localhost:6379/0"


#
# Backend
#

CELERY_RESULT_BACKEND = "redis"
CELERY_REDIS_HOST = "localhost"
CELERY_REDIS_PORT = 6379
CELERY_REDIS_DB = 0


#
# Tasks
#

CELERY_IMPORTS = (
    "tasks",
)


#
# Schedule
#

from datetime import timedelta

CELERYBEAT_SCHEDULE = {
    'import-all-xen-rrd-every-minute': {
        'task': 'tasks.import_all_rrd',
        'schedule': timedelta(minutes=1),
        'args': ('192.2.3.219', 'tulsa_ir',  # MongoDB tulsa_ir
                 '192.2.3.219', '0',         # Redis DB 0
                 (('192.2.3.215', 'rrd', '123456'),
                  ('192.2.3.216', 'rrd', '123456')))
    }
}
